.contactForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    gap: 1rem;
    padding: 10px 100px;
}

.form {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.userInfo {
    display: flex;
    flex-direction: column;
    width: 45%;
    input {
        height: 40px;
        margin: 10px 0;
        padding: 0 10px;
    }
}

.message {
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 100%;
}

.button {
    width: 200px;
}

.submit {
    justify-content: center;
    align-items: center;
    display: flex;
}