.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 20px;
    position: relative;
}

.nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    
    span {
        margin: 0 10px;
        &:hover {
            cursor: pointer;
            text-decoration: underline;
            color: lightblue;
        }
    }
}

.logo {
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    
    img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}

.logoPlaceholder {
    height: 60px;
    width: 60px;
    visibility: hidden;
}

.searchInput {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    
    display: flex;;

    input {
        width: 60vw;
        height: 40px;
        padding: 10px;
        font-size: 25px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
}

.searchIcon {
    cursor: pointer;
}